[submodule "coordination/task_assignment"]
	path = coordination/task_assignment
	url = https://gitee.com/robin_shaun/multi-uav-task-assignment-benchmark
	branch = master
[submodule "sensing/object_detection_and_tracking/darknet_ros"]
	path = sensing/object_detection_and_tracking/darknet_ros
	url = https://gitee.com/robin_shaun/darknet_ros_yolov4
	branch = master
[submodule "PX4-Autopilot"]
	path = PX4-Autopilot
	url = https://github.com/Bearzeng/PX4-Autopilot.git
[submodule "ros/mavros"]
	path = ros/mavros
	url = https://github.com/Bearzeng/mavros.git
	branch = 1.13.0
[submodule "ros/mavlink-gbp-release"]
	path = ros/mavlink-gbp-release
	url = https://github.com/Bearzeng/mavlink-gbp-release.git
	branch = release/noetic/mavlink
[submodule "gazebo/gazebo_models"]
	path = gazebo/gazebo_models
	url = https://github.com/Bearzeng/gazebo_models.git
[submodule "qgc/qgroundcontrol"]
	path = qgc/qgroundcontrol
	url = https://github.com/Bearzeng/qgroundcontrol.git
	branch = Stable_V4.1
